body {
    background-color: rgb(243, 241, 122);
}

.pageHdr {
    background-color: blue;
}

h1 {
    color: white;
}

.red {
    background-color: red;
}

.fiveDayCard {
    border: solid 2px;
}

.currentCard {
    border: solid 2px;
    width: 15em;
}

.fiveDayList {
    width: 15em;
<<<<<<< HEAD
    /* display: flex; */
=======
>>>>>>> 1538db092c8c75acd4e1df5daafae361b934b6f4
}

img {
    max-width: 120px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1538db092c8c75acd4e1df5daafae361b934b6f4
