body {
    background-color: rgb(243, 241, 122);
}

.pageHdr {
    background-color: blue;
}

h1 {
    color: white;
}

.red {
    background-color: red;
}

.fiveDayCard {
    border: solid 2px;
}

.currentCard {
    border: solid 2px;
    max-width: 20em;
}

.fiveDayList {
    width: 15em;
}